// This is where you can override bootstrap variables

$brand-primary: #313366;
$spacer: 1rem;
$enable-flex: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: true;
$enable-grid-classes: true;
